.PostGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
}

@media (max-width: 1200px) {
    .PostGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .PostGrid {
        grid-template-columns: 1fr;
    }
}